@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html { 
        font-family: Bungee_Inline;
    }
}

.bungee {
    font-family: Bungee_Inline;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}